.img-container {
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.img-container img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.img-container:hover img{
    border-style: solid;
    border-color: #3f51b5;
    border-width: 5px;
}
